* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Montserrat, sans-serif;
}

/* ============================================= */

.container {
    margin-top: 100px;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
}

ul {
        list-style: none;
    }

    li {
        position: relative;
    }

    a {
        display: block;
        padding: 10px;
        text-decoration: none;
        color: black;
        background-color: #f9fd9f;
        border: 1px solid #ccc;
    }

    a:hover {
        background-color: #e0e0e0;
    }

    ul ul {
        min-width: 150px;
        position: absolute;
        top: 0;
        left: 100%;
        display: none;
    }

    li:hover > ul {
        display: block;
    }