* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: GraphikLCG, sans-serif;
}

/* ======================HEADER=============================== */

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

.logo-link-wrapper {
    display: flex;
    align-items: center;
}

.logo-link-wrapper a {
    text-decoration: none;
    color: #000000;
    margin-left: 51px;
    font-size: 15px;
    line-height: 1.3;
}

.button-wrapper a:not(.orange-button){
    text-decoration: none;
    color: #000000;
    font-weight: 600;
    font-size: 16px;
    line-height: 2.8;
    padding: 10px 26px;
    margin-right: 10px;
    border: 1px solid #000000;
    transition: all 0.3s ease-in-out;
}

.orange-button {
    text-decoration: none;
    background-color: #FF6336;
    color: white;
    font-weight: 600;
    font-size: 16px;
    line-height: 2.8;
    padding: 10px 26px;
    border: 1px solid #FF6336;
    transition: all 0.3s ease-in-out;
}

/* ===================HEADER-HOVERS================================ */

.logo-link-wrapper a:hover {
    text-decoration: underline;
}

.button-wrapper a:not(.orange-button):hover {
    border-radius: 10px;
}

.orange-button:hover {
    border-radius: 10px;
}

/* ==========================ACCELERATE-MAIN-BLOCK=============================== */

.accelerate-block-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1330px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 120px;
}

.accelerate-block-text {
    display: flex;
    flex-direction: column;
}

.accelerate-block-text h1 {
    font-size: 65px;
    font-weight: 600;
    line-height: 1;
    margin-bottom: 50px;
    width: 552px;
}

.accelerate-block-text p:not(.subtitle-acceleration-block){
    font-size: 25px;
    line-height: 1.4;
    width: 471px;
    margin-bottom: 40px;
}

.subtitle-acceleration-block{
    font-size: 15px;
    line-height: 1.6;
}

.acceleration-block-buttons {
    margin-bottom: 25px;
}

.acceleration-block-buttons a:not(.orange-button-main-block){
    text-decoration: none;
    color: #000000;
    font-weight: 600;
    font-size: 16px;
    line-height: 2.8;
    padding: 18px 20px;
    border: 1px solid #000000;
    transition: all 0.3s ease-in-out;
}

.orange-button-main-block {
    text-decoration: none;
    background-color: #FF6336;
    color: white;
    font-weight: 600;
    font-size: 16px;
    line-height: 2.8;
    padding: 18px 30px;
    border: 1px solid #FF6336;
    margin-right: 10px;
    transition: all 0.3s ease-in-out;
}


/* ====================ACCELERATE-BLOCK-HOVERS====================== */

.acceleration-block-buttons a:not(.orange-button-main-block):hover {
    border-radius: 10px;
}

.orange-button-main-block:hover {
    border-radius: 10px;
}

/* ======================PREFERED-MAIN-BLOCK=================================== */

.prefered-block-container {
    width: 100%;
    background-color: #FF9C7D;
    padding-top: 100px;
    padding-bottom: 100px;
    margin-top: 200px;
}

.prefered-content-block-wrapper {
    max-width: 1330px;
    margin-left: auto;
    margin-right: auto;
}

.prefered-block-text {
    margin-left: auto;
    margin-right: auto;
    width: 720px;
    text-align: center;
    font-size: 35px;
    line-height: 1.2;
    margin-bottom: 70px;
}

/* =====================CONTROL-MAIN-BLOCK============================= */

.control-main-block-container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1330px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}

.control-main-block-text-wrapper {
    margin-right: 170px;
}

.control-main-block-text-wrapper h2{
    width: 493px;
    font-size: 50px;
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 30px;
}

.control-main-block-text-wrapper p{
    width: 491px;
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 30px;
}

.control-main-block-text-wrapper a:not(.control-link-bold) {
    color: #000000;
    transition: all 0.3s ease;
}

.control-link-bold {
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.5;
    color: #000000;
}

/* ===========================CONTROL-BLOCK-HOVERS========================== */

.control-link-bold:hover {
    text-decoration: underline;
}

.control-main-block-text-wrapper a:not(.control-link-bold):hover {
    color: #FF6336;
}

/* ====================SHORTEN-BLOCK================================ */

.shorten-block-container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1330px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 250px;
}

.shorten-text-wrapper {
    margin-left: 138px;
}

.shorten-text-wrapper h2 {
    width: 351px;
    font-size: 50px;
    line-height: 1.2;
    margin-bottom: 25px;
}

.shorten-text-wrapper p{
    width: 450px;
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 36px;
}

.shorten-text-wrapper a:not(.control-link-bold) {
    color: #000000;
    transition: all 0.3s ease;
}

/* ================SHORTEN-BLOCK-HOVERS================== */

.shorten-text-wrapper a:not(.control-link-bold):hover {
    color: #FF6336;
}

/* =====================QUALITY-BLOCK============================== */

.quality-block-container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1330px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 250px;
}

.quality-block-text-wrapper {
    margin-right: 138px;
}

.quality-block-text-wrapper h2 {
    width: 397px;
    font-size: 50px;
    line-height: 1.2;
    margin-bottom: 25px;
}

.quality-block-text-wrapper p{
    width: 507px;
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 36px;
}

.quality-block-text-wrapper a:not(.control-link-bold) {
    color: #000000;
    transition: all 0.3s ease;
}

/* ==================QUALITY-BLOCK-HOVERS================ */

.quality-block-text-wrapper a:not(.control-link-bold):hover {
    color: #FF6336;
}

/* =======================LESS-BLOCK========================= */

.less-block-container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1330px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 250px;
}
.less-block-text-wrapper {
    margin-left: 138px;
}

.less-block-text-wrapper h2 {
    width: 348px;
    font-size: 50px;
    line-height: 1.2;
    font-weight: 600;
    margin-bottom: 25px;
}

.less-block-text-wrapper p{
    width: 520px;
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 35px;
}

.less-block-text-wrapper a:not(.control-link-bold){
    color: #000000;
    transition: all 0.3s ease;
}

/* ======================LESS-BLOCK-HOVERS=========================== */

.less-block-text-wrapper a:not(.control-link-bold):hover{
    color: #FF6336;
}

/* ============CANYOU-BLOCK============== */

.canyou-block-container {
    width: 100%;
    background-color: #FFF8E4;
    padding-top: 120px;
    padding-bottom: 150px;
    margin-top: 270px;
}

.canyou-block-content {
    width: 1330px;
    margin-left: auto;
    margin-right: auto;
}

.canyou-head-text-wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 79px;
}

.canyou-head-text-wrapper h2 {
    font-size: 50px;
    line-height: 1.2;
}

.canyou-cart-block-wrapper-first {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 78px;
}

.canyou-cart-block-wrapper-second {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* =================ONECART=================== */

.onecart-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    max-width: 303px;
}

.onecart-wrapper img {
    margin-bottom: 26px;
}

.onecart-wrapper h3 {
    font-size: 25px;
    line-height: 1.4;
    margin-bottom: 20px;
}

.onecart-wrapper p {
    font-size: 18px;
    line-height: 1.4;
}

/* ===========TWOCART=============== */

.twocart-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    max-width: 330px;
    margin-left: 110px;
}

.twocart-wrapper img {
    margin-bottom: 21px;
}

.twocart-wrapper h3 {
    font-size: 25px;
    line-height: 1.4;
    margin-bottom: 20px;
}

.twocart-wrapper p {
    font-size: 18px;
    line-height: 1.4;
}

.twocart-wrapper a {
    color: #000000;
    transition: all 0.3s ease;
}

/* ===============THREECART=============== */

.threecart-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    max-width: 281px;
    margin-left: 110px;
}

.threecart-wrapper img {
    margin-bottom: 23px;
}

.threecart-wrapper h3 {
    font-size: 25px;
    line-height: 1.4;
    margin-bottom: 23px;
}

.threecart-wrapper p {
    font-size: 18px;
    line-height: 1.4;
}

/* =====================FOURCART========================== */

.fourcart-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    max-width: 309px;
}

.fourcart-wrapper img {
    margin-bottom: 26px;
}

.fourcart-wrapper h3 {
    font-size: 25px;
    line-height: 1.4;
    margin-bottom: 20px;
}

.fourcart-wrapper p {
    font-size: 18px;
    line-height: 1.4;
}

/* ====================FIVECART======================== */

.fivecart-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    max-width: 310px;
    margin-left: 120px;
}

.fivecart-wrapper img {
    margin-bottom: 23px;
}

.fivecart-wrapper h3 {
    font-size: 25px;
    line-height: 1.4;
    margin-bottom: 23px;
}

.fivecart-wrapper p {
    font-size: 18px;
    line-height: 1.4;
}

/* ===============SIXCART====================== */

.sixcart-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    max-width: 326px;
    margin-left: 120px;
}

.sixcart-wrapper img {
    margin-bottom: 23px;
}

.sixcart-wrapper h3 {
    font-size: 25px;
    line-height: 1.4;
    margin-bottom: 23px;
}

.sixcart-wrapper p {
    font-size: 18px;
    line-height: 1.4;
}

/* =============CART-HOVERS============= */

.twocart-wrapper a:hover {
    color: #FF6336;
}

/* ===============BOOST-BLOCK================ */

.boost-block-container {
    max-width: 1330px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 154px;
}

.boost-block-container h2 {
    font-size: 50px;
    line-height: 1.4;
    font-weight: 600;
    display: flex;
    justify-content: center;
}

.boost-cart-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 75px;
}

/* ================ONE-CART-BOOST==================== */

.one-cart-boost {
    width: 409px;
    margin-right: 31px;
}

.one-cart-boost img {
    margin-bottom: 50px;
}

.one-cart-boost h3 {
    font-size: 30px;
    line-height: 1.3;
    font-weight: 600;
    margin-bottom: 34px;
}

.one-cart-boost p{
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 25px;
}

.one-cart-boost a{
    font-size: 20px;
    line-height: 1.5;
    color: #000000;
    transition: all 0.3s ease;
}

/* ===============TWO-CART-BOOST============== */

.two-cart-boost {
    width: 409px;
    margin-right: 31px;
}

.two-cart-boost img {
    margin-bottom: 67px;
}

.two-cart-boost h3 {
    font-size: 30px;
    line-height: 1.3;
    font-weight: 600;
    margin-bottom: 29px;
}

.two-cart-boost p {
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 26px;
}

.two-cart-boost a {
    font-size: 20px;
    line-height: 1.5;
    color: #000000;
    transition: all 0.3s ease;
}

/* ===========================THREE-CART-BOOST======================== */

.three-cart-boost {
    width: 409px;
}

.three-cart-boost img {
    margin-bottom: 58px;
}

.three-cart-boost h3 {
    font-size: 30px;
    line-height: 1.3;
    font-weight: 600;
    margin-bottom: 34px;
}

.three-cart-boost p {
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 25px;
}

.three-cart-boost a {
    font-size: 20px;
    line-height: 1.5;
    color: #000000;
    transition: all 0.3s ease;
}

/* ===================BOOST-BLOCK-HOVERS================== */

.one-cart-boost a:hover {
    color: #FF6336;
}

.two-cart-boost a:hover {
    color: #FF6336;
}

.three-cart-boost a:hover {
    color: #FF6336;
}

/* =====================REVOLUT-BLOCK===================== */

.revolut-block-container {
    width: 100%;
    background-color: #C9E8F2;
    padding-top: 50px;
    padding-bottom: 105px;
    margin-top: 120px;
}

.revolut-block-content {
    max-width: 1330px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
}

.revolut-block-content p:not(.min-text) {
    font-size: 30px;
    line-height: 1.3;
    width: 920px;
    margin-bottom: 23px;
}

.min-text {
    font-size: 15px;
    line-height: 1.6;
    margin-bottom: 7px;
}

/* ============CAKE-BLOCK===================== */

.cake-block-container {
    width: 100%;
    background-color: #DABC98;
    padding-top: 69px;
    padding-bottom: 80px;
}

.cake-block-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1330px;
    margin-left: auto;
    margin-right: auto;
}

.cake-block-left-content {
    display: flex;
    flex-direction: row;
    align-items: center
}

.cake-block-left-content h2{
    width: 461px;
    font-size: 35px;
    font-weight: 600;
    line-height: 1.4;
    margin-left: 67px;
}

.cake-block-right-content img {
    padding-left: 71px;
    padding-top: 30px;
    padding-bottom: 22px;
}

.cake-block-right-content img:nth-last-child(2) {
    margin-right: 70px;
    border-left: 2px solid #000000;
}

/* ====================INTEGRATE-BLOCK============================ */

.integrate-block-container {
    max-width: 1330px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 169px;
}

.integrate-block-text {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin-bottom: 25px;
}

.integrate-block-text h2{
    font-size: 65px;
    line-height: 1.2;
}

.integrate-block-text p{
    font-size: 25px;
    line-height: 1.4;
}

.integrate-block-img {
    display: flex;
    justify-content: center;
    margin-bottom: 32px;
}

.integrate-block-link {
    display: flex;
    justify-content: center;
}

.integrate-block-link a{
    text-decoration: none;
    color: #fff;
    background-color: #FF6336;
    font-weight: 600;
    line-height: 3.7;
    padding-left: 20px;
    padding-right: 20px;
    transition: all 0.3s ease-in-out;
}

/* =========INTEGRATE-HOVERS============ */

.integrate-block-link a:hover {
    border-radius: 10px;
}